<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我只是一个 <span id="js-rotating">又矮, 又胖, 且穷, 还丑</span> 的网络流浪者</h4>
  </div>
  <div class="user-content">
    <p>
      走过北, 没闯过南. 吃的了稀饭,下不了厨房. 咸菜老干妈时常拌, 好比街头臭要饭. 
    </p>
    <p>
      零九出来瞎晃荡，十年混成穷光蛋。此处省略一亿个句号...（Ps.因为博大精深的文字已无法描述我的惨状）
    </p>
  </div>
</div>
