
<head>
	<style type="text/css">
	body{font-size: 13px;}
  
	.Mtable{
		width: 100%;
		border-collapse: collapse;
		border:1px solid #dd9;
		margin-bottom: 20px;
		text-align: center;
		margin: auto;
		}
	.Mtable th, .Mtable td{
		border-right: 1px solid #ddc;
		border-bottom: 1px solid #ddc;
		line-height: 25px;
		}
	.Mtable td{text-indent: 10px;}
	.Mtable tr:nth-child(even){background: #e6e6e6}

	</style>
</head>

<div id="shopitem">
	<table class="Mtable">
		<thead>
			<tr style="text-align: right;">
				<th>网址名称</th>
				<th>网站简介</th>
				<th>收录时间</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script type="text/template" id="shoptpl">
			<tr>
				<td><a href="$site.urladdress$" target="view_window">$name$</a></td>
				<td>$site.dec$</td>
				<td>$site.time$</td>
			</tr>
</script>

