---
---
main
  div
     font-size: 12px
#shopitem
  width: 100%
  border-collapse: collapse
  border: 1px solid #dd9
  margin-bottom: 20px
  text-align: center
  margin: auto
  .td 
     text-indent: 10px
     border-right: 1px solid #ddc
     border-bottom: 1px solid #ddc
     line-height: 25px
   .th
     border-right: 1px solid #ddc
     border-bottom: 1px solid #ddc
     line-height: 25px

